/* Maximo Mayo 3/28/2024 */
/* Nav Styles */
#navLinks{
    color: red;
    border: solid;
    justify-content: space-evenly;
    align-items: center;
}

#navLinks li{
    display: inline;
    padding: 5px;
    margin-left: 7rem;
    text-align: center;
    list-style: none;
}

/* Main Topic Styles */
.mainTopicDescription{
    line-height: 5em;
}